@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

@media (orientation: landscape) {
	.garrafa svg {
        transform: rotate(-90deg); /* Deita a garrafa */
        width: 90vw; /* Ocupa a largura da tela */
        height: auto;
    }
	/* Gira o texto de volta para ficar em pé enquanto a garrafa está deitada */
    #texto-agua, #texto-restante {
        transform: rotate(90deg);
        /* O transform-box garante que ele gire em torno do próprio centro */
        transform-box: fill-box;
        transform-origin: center;
    }
}

/* Isso faz com que TODOS os elementos respeitem a largura exata, 
   incluindo bordas e preenchimentos no cálculo. */
* {
    box-sizing: border-box;
}

html, body { /* Seletores para mudanças no HTML e BODY */
	height: 100%;
    width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	
	font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "GRAD" 0;
	
	transition: background-image 0.5s ease; /* Deixa a troca suave */
}

/* Novo paapel de parede quando o tema for alterado */
body.alt-theme {
    background-image: url("https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExb3lzNG54dTl6ZGJ1bnRoandpZm81b2UzN3ZlY2UwaTZsanZoMXd6aSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/QjkkR8Nn0clgYcnOtC/giphy.gif");
	background-repeat: no-repeat;                     /* Prevents the image from tiling */
    background-position: center center;               /* Centers the image within the container */
    background-size: cover;  
}


.dropdown {
    position: relative;
    display: inline-block;
    float: right; /* Alinha o botão à direita */
    z-index: 20; /* Garante que o container pai esteja no topo de tudo */
}

.dropdown-content {
    display: none; /* Oculta o conteúdo do menu suspenso por padrão */
    position: absolute;
    right: 10px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
}

/* Força o fechamento do menu */
.dropdown-content.hidden {
    display: none !important;
}

/* Garante que o menu apareça quando o pai (.dropdown) for clicado/focado */
.dropdown:focus-within .dropdown-content {
    display: block;
}

/* Exibir o menu suspenso ao passar o cursor sobre ele */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.dropbtn {
	cursor: pointer;
}


.dropdown-content input, button {
	width: 100%;
	height: 50px;
	
	background-color: white;
	border: none;
	cursor: pointer;
	
	font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "GRAD" 0;
}

.garrafa {
	width: 100%;
	height: 100%;
	position: absolute;
	
	display: flex;
    justify-content: center;
    align-items: center;
	
	pointer-events: none; /* Faz o mouse "atravessar" essa camada e clicar no que está atrás */
}
	
.garrafa svg {
    width: auto;
    height: 90%;
	margin: auto;
}

#meta-input, #ml-input {
    text-align: center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}